@import url("https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Actor&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tauri&display=swap");
* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
button {
  border: none;
  cursor: pointer;
}
.page {
  margin: 0 auto;
  padding-top: 123px;
  font-family: "Tauri", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}
.title {
  font-family: "Tauri", sans-serif;
  font-weight: 400;
  font-size: 64px;
  line-height: 80px;
  color: #000000;
  text-align: center;
}
.subtitle {
  font-family: "Tauri", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  color: #000000;
  text-align: center;
}
.paragraph {
  font-family: "Tauri", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  color: #000000;
  text-align: center;
}
.container {
  max-width: 1440px;
  width: 100%;
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  margin: 0 auto;
}
@media (max-width: 767px) {
}
/*---header---*/
.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: url(../images/header-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 999;
}
.header__wrapper {
  width: 1270px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding-top: 25px;
  padding-bottom: 25px;
  box-sizing: border-box;
}
.header__logo {
  width: 233px;
  height: 74px;
}
.header__list {
  display: flex;
  align-items: center;
  gap: 97px;
}
.header__link {
  font-family: "Actor", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 28.87px;
  color: #ffffff;
  transition: all 0.3s ease-in-out;
}
.header__link.active {
  color: #000000;
}
.header__link:hover {
  color: #000000;
}
/*---promo---*/
.promo {
  width: 100%;
  display: flex;
  height: calc(100dvh - 123px);
  background: url(../images/banner.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.promo__wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  margin-top: 100px;
  margin-bottom: 284px;
}
.promo__text {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.promo__title {
  font-family: "Abhaya Libre", serif;
  font-weight: 400;
  font-size: 116px;
  line-height: 136.84px;
  text-align: center;
  color: #171f67;
}
.promo__text span {
  font-family: "Abhaya Libre", serif;
  font-weight: 400;
  font-size: 116px;
  line-height: 136.84px;
  text-align: center;
  color: #bfc6ff;
}
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 172px;
  height: 60px;
  font-family: "Actor", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 28.87px;
  background: #a8600b;
  color: #ffffff;
  border-radius: 30px;
  transition: all 0.3s ease-in-out;
}
.button:hover {
  background: #15cfe5;
}
.promo__button:hover {
  background: #000000;
  color: #ffffff;
}
/*---about---*/
.about {
  width: 100%;
}
.about__wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 73px;
  margin-bottom: 90px;
}
.title-box {
  width: fit-content;
  display: block;
  position: relative;
}
.title-box::before {
  position: absolute;
  content: "";
  width: 111px;
  height: 1px;
  background: #f1cbcb;
  left: -120px;
  top: 50%;
}
.title-box::after {
  position: absolute;
  content: "";
  width: 111px;
  height: 1px;
  background: #f1cbcb;
  right: -120px;
  top: 50%;
}
.about__inner {
  position: relative;
  max-width: 1045px;
  width: 100%;
  margin: 90px auto 13px;
  border: 14px solid #1d51d8;
}
.about__inner span {
  margin: 31px auto 25px 29px;
  display: inline-block;
  padding-right: 530px;
  font-family: "Tauri", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  color: #000000;
}
.about__image {
  position: absolute;
  right: -124px;
  top: -69px;
}
.about__image img {
  max-width: 100%;
  height: auto;
}
/*---offers---*/
.offers {
  width: 100%;
}
.offers__wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
}
.offers__inner {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 46px;
  padding-left: 50px;
  padding-right: 50px;
  box-sizing: border-box;
}
.offers__subtitle {
  margin-top: 30px;
}
.offers__item {
  width: 251px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.offers__icon {
  width: 166px;
  height: 166px;
  border-radius: 50%;
}
.offers__icon img {
  max-width: 100%;
  height: auto;
}
.offers__paragraph {
  margin-top: 20px;
  margin-bottom: 24px;
}
